:root {
  /* Color */
  /* color-neutral */
  --color-neutral-000: #ffffff;
  --color-neutral-000-transparent-06: rgba(255, 255, 255, 0.6);
  --color-neutral-000-transparent-03: rgba(255, 255, 255, 0.3);
  --color-neutral-100: #f2f2f2;
  --color-neutral-100-transparent-08: rgba(242, 242, 242, 0.8);
  --color-neutral-150: #e6e6e6;
  --color-neutral-200: #e5e5e5;
  --color-neutral-800: #333333;
  --color-neutral-900: #000000;
  /* color-blue */
  --color-blue-100: rgba(131, 179, 211, 0.12);
  --color-blue-200: rgba(131, 179, 211, 0.2);
  --color-blue-300: #68a2ca;
  --color-blue-300-transparent: rgba(104, 162, 202, 0.3);
  --color-blue-400: #83b3d3;
  --color-blue-500: #82b3d3;
  --color-blue-600: #3f5e72;
  /* color-brown */
  --color-brown-500: #756157;
  --color-brown-500-transparent: rgba(117, 97, 87, 0.3);
  --color-brown-600: #615048;
  /* color-green */
  --color-green-500: #7db54f;
  --color-green-600: #6c9e42;
  /*color-red*/
  --color-red-500: #FF5757;
  /* decor-line*/
  --color-divider-light: rgba(255, 255, 255, 0.3);
  --color-divider-dark: rgba(0, 0, 0, 0.3);
  /*linear gradient*/
  --color-linear-gradient: linear-gradient(315deg, #e9b5b4 0.000%, #cdb5bb 8.333%, #b2b3b4 16.667%, #98b0a7 25.000%, #7fac9f 33.333%, #67a6a5 41.667%, #50a0b2 50.000%, #3b98ba 58.333%, #278fb6 66.667%, #1485a9 75.000%, #0279a0 83.333%, #006da3 91.667%, #005faf 100.000%);

  /* Font-family*/
  --font-family: "PT Sans", sans-serif;

  /* Font-size */
  --font-size-xxs: 10px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 40px;
  --font-size-4xl: 60px;

  /* Line-height */
  --line-height-xs: 1;
  --line-height-s: 1.2;
  --line-height-m: 1.25;
  --line-height-l: 1.3;
  --line-height-xl: 1.8;

  /* Font-weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);

  margin: 0;

  background-color: var(--color-neutral-100);
  color: var(--color-neutral-800);
}

.button {
  display: block;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  padding: 8px 50px;

  color: var(--color-neutral-000);
  background-color: var(--color-blue-500);

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button:disabled {
  pointer-events: none;

  background-color: var(--color-neutral-200);
  color: var(--color-neutral-000);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: var(--color-neutral-000);

  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  width: 1200px;
  min-height: 100vh;

  margin: 0 auto;
}

.header {
  padding: 0 70px;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 30px auto 30px -webkit-max-content;
  -ms-grid-columns: min-content 30px auto 30px max-content;
  grid-template-columns: -webkit-min-content auto -webkit-max-content;
  grid-template-columns: min-content auto max-content;

  -webkit-box-align: start;

  -ms-flex-align: start;

  align-items: start;

  gap: 30px;

  position: relative;
  z-index: 1;
}

.logo {
  width: 140px;

  margin-bottom: -8px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo-image {
  display: block;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-link {
  display: block;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);

  text-align: center;
  text-decoration: none;

  padding: 20px 16px;

  color: var(--color-neutral-900);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-brown-500);
}

.navigation-link:active {
  color: var(--color-brown-500-transparent);
}

.navigation-link.current::after {
  content: "";
  display: block;

  height: 2px;

  -webkit-transform: translateY(20px);

  -ms-transform: translateY(20px);

  transform: translateY(20px);

  background-color: var(--color-brown-500);
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  max-width: 330px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-user-item:last-child {
  margin-left: 20px;
}

.navigation-user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-decoration: none;

  min-width: 44px;
  min-height: 64px;
}

.navigation-user-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  background-color: var(--color-neutral-900);

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.navigation-search::before {
  -webkit-mask-image: url("../images/icons/ui/search.svg");
  mask-image: url("../images/icons/ui/search.svg");
}

.navigation-favorites::before {
  -webkit-mask-image: url("../images/icons/ui/favorite.svg");
  mask-image: url("../images/icons/ui/favorite.svg");
}

.navigation-user-link:hover::before,
.navigation-user-link:focus::before {
  background-color: var(--color-brown-500);
}

.navigation-user-link:active::before {
  background-color: var(--color-brown-500-transparent);
}

.navigation-favorites {
  position: relative;
}

.favorite-count {
  position: absolute;

  top: 10px;
  right: 2px;

  padding: 5px;

  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xs);

  color: var(--color-neutral-000);
  background-color: var(--color-green-500);

  border-radius: 100vw;
}

.navigation-user-button {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);

  padding: 8px 34px;

  background-color: var(--color-brown-500);
}

.navigation-user-button:hover {
  background-color: var(--color-brown-600);
  color: var(--color-neutral-000-transparent-06);
}

.navigation-user-button:focus {
  background-color: var(--color-brown-600);
}

.navigation-user-button:active {
  background-color: var(--color-brown-500);
  color: var(--color-neutral-000-transparent-03);
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0 25px;

  background: url("../images/backgrounds/index-background.jpg") no-repeat center / cover, var(--color-linear-gradient);
}

.hero .section-title {
  font-size: var(--font-size-4xl);
  max-width: 680px;

  color: var(--color-neutral-000);
}

.hero::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 57px;

  bottom: 0;

  -webkit-mask-image: url("../images/icons/ui/background-down.svg");

  mask-image: url("../images/icons/ui/background-down.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--color-neutral-000);
}

.advantages {
  padding-top: 70px;
}

.section-header {
  max-width: 680px;

  margin: 0 auto 54px;
}

.section-title {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;

  margin: 0 0 20px;

  color: var(--color-neutral-900);
}

.section-description {
  text-align: center;

  margin: 0;
}

.advantages .section-header {
  margin-bottom: 90px;
}

.advantages .section-title {
  margin-bottom: 25px;
}

.section-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 30px 85px;

  min-height: 385px;
}

.advantages-item:nth-child(even) {
  background-color: var(--color-blue-100);
}

.advantages-item:nth-child(odd) {
  background-color: var(--color-blue-200);
}

.advantages-item:has(.advantages-image) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);

  grid-column: 1 / -1;

  background-color: var(--color-blue-500);
}

.advantages-item .card-title::after {
  content: "";
  display: block;

  width: 60px;

  margin: 30px auto;

  border-bottom: 2px solid var(--color-divider-dark);
}

.advantages-item:has(.advantages-image) .card-title::after {
  border-bottom-color: var(--color-divider-light);
}

.advantages-item:has(.advantages-image) .card-title,
.advantages-item:has(.advantages-image) .card-text {
  color: var(--color-neutral-000);
}

.advantages-item:has(.advantages-image) .advantages-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.advantages-item:has(.advantages-image-reverse) .advantages-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.advantages-item:has(.advantages-image-reverse) .advantages-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.card-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;

  margin: 0;

  color: var(--color-neutral-900);
}

.card-text {
  font-size: var(--font-size-s);
  text-align: center;

  margin: 0;
}

.services {
  padding-top: 64px;
}

.services .section-header {
  margin-bottom: 64px;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 0 85px;

  min-height: 385px;
  gap: 30px;
}

.services-item:nth-child(odd) {
  background-color: var(--color-blue-100);
}

.services-item:nth-child(even) {
  background-color: var(--color-neutral-000);
}

.services-item .card-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-blue-500);
}

.services-house .card-title::before {
  -webkit-mask-image: url("../images/services/house.svg");
  mask-image: url("../images/services/house.svg");
}

.services-food .card-title::before {
  -webkit-mask-image: url("../images/services/food.svg");
  mask-image: url("../images/services/food.svg");
}

.services-souvenirs .card-title::before {
  -webkit-mask-image: url("../images/services/souvenirs.svg");
  mask-image: url("../images/services/souvenirs.svg");
}

.search {
  padding: 96px 0;
}

.search-button {
  margin: 0 auto;

  background-color: var(--color-brown-500);
}

.search-button:hover {
  background-color: var(--color-brown-600);
  color: var(--color-neutral-000-transparent-06);
}

.search-button:focus {
  background-color: var(--color-brown-600);
}

.search-button:active {
  background-color: var(--color-brown-500);
  color: var(--color-neutral-000-transparent-03);
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 96px 0 104px;
}

.newsletter-index {
  background: url("../images/backgrounds/subscribe.jpg") no-repeat center / cover, var(--color-linear-gradient);
}

.newsletter-index .section-title {
  color: var(--color-neutral-000);
}

.newsletter-index .section-description {
  color: var(--color-neutral-000);
}

.newsletter-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 452px 232px;
  grid-template-columns: 452px 232px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsletter-label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--color-neutral-900);

  margin-left: 20px;

  -ms-grid-row: 1;

  -ms-grid-row-span: 1;

  -ms-grid-column: 1;

  -ms-grid-column-span: 1;

  grid-area: 1/1/2/2;

  opacity: 0;

  cursor: pointer;
}

.input {
  border: none;

  font-family: inherit;
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);

  cursor: pointer;
}

.newsletter-field {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;

  font-weight: var(--font-weight-regular);

  padding: 14px 20px;

  border-radius: 4px 0 0 4px;
}

.newsletter-field:hover {
  background-color: var(--color-neutral-150);
}

.newsletter-field::-webkit-input-placeholder {
  color: var(--color-neutral-900);
  opacity: 0.6;
}

.newsletter-field::-moz-placeholder {
  color: var(--color-neutral-900);
  opacity: 0.6;
}

.newsletter-field:-ms-input-placeholder {
  color: var(--color-neutral-900);
  opacity: 0.6;
}

.newsletter-field::-ms-input-placeholder {
  color: var(--color-neutral-900);
  opacity: 0.6;
}

.newsletter-field::placeholder {
  color: var(--color-neutral-900);
  opacity: 0.6;
}

.newsletter-field:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.newsletter-field:hover::-moz-placeholder {
  opacity: 0.6;
}

.newsletter-field:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.newsletter-field:hover::-ms-input-placeholder {
  opacity: 0.6;
}

.newsletter-field:hover::placeholder {
  opacity: 0.6;
}

.newsletter-field:focus::-webkit-input-placeholder {
  opacity: 0;
}

.newsletter-field:focus::-moz-placeholder {
  opacity: 0;
}

.newsletter-field:focus:-ms-input-placeholder {
  opacity: 0;
}

.newsletter-field:focus::-ms-input-placeholder {
  opacity: 0;
}

.newsletter-field:focus::placeholder {
  opacity: 0;
}

.newsletter-field:focus + .newsletter-label {
  opacity: 0.5;
}

.newsletter-field:not(:-moz-placeholder) + .newsletter-label {
  opacity: 0;
}

.newsletter-field:not(:-ms-input-placeholder) + .newsletter-label {
  opacity: 0;
}

.newsletter-field:not(:placeholder-shown) + .newsletter-label {
  opacity: 0;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.newsletter-button:hover {
  background-color: var(--color-blue-300);
  color: var(--color-neutral-000-transparent-06);
}

.newsletter-button:focus {
  background-color: var(--color-blue-300);
}

.newsletter-button:active {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-000-transparent-03);
}

.newsletter-catalog {
  padding-top: 46px;
}

.newsletter-catalog .section-title {
  color: var(--color-neutral-900);
}

.newsletter-catalog .section-description {
  color: inherit;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 40px 1fr 40px -webkit-min-content;
  -ms-grid-columns: min-content 40px 1fr 40px min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  gap: 40px;

  padding: 40px 70px 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  min-width: 150px;
  max-width: 250px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 48px;
  min-height: 40px;
}

.social-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 18px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-blue-500);
}

.vk::before {
  -webkit-mask-image: url("../images/icons/social/vk.svg");
  mask-image: url("../images/icons/social/vk.svg");
}

.telegram::before {
  -webkit-mask-image: url("../images/icons/social/telegram.svg");
  mask-image: url("../images/icons/social/telegram.svg");
}

.youtube::before {
  -webkit-mask-image: url("../images/icons/social/youtube.svg");
  mask-image: url("../images/icons/social/youtube.svg");
}

.social-link:hover::before,
.social-link:focus::before {
  background-color: var(--color-blue-300);
}

.social-link:active::before {
  background-color: var(--color-blue-300-transparent);
}

.contacts {
  margin: 0 auto;
}

.contact-link {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-xs);
  text-align: center;
  text-decoration: none;

  color: var(--color-neutral-900);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-brown-500);
}

.contact-link:active {
  color: var(--color-brown-500-transparent);
}

.developer::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url("../images/logos/html-academy.svg");
  mask-image: url("../images/logos/html-academy.svg");

  background-color: var(--color-neutral-900);
}

.developer:hover::before,
.developer:focus::before {
  background-color: var(--color-brown-500);
}

.developer:active::before {
  background-color: var(--color-brown-500-transparent);
}

.modal-container {
  position: fixed;
  display: -ms-grid;
  display: grid;

  -ms-grid-rows: minmax(66px, 1fr) auto minmax(66px, 1fr);

  grid-template-rows: minmax(66px, 1fr) auto minmax(66px, 1fr);

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 2;

  background-color: var(--color-neutral-100-transparent-08);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  width: 717px;

  -ms-grid-row: 2;

  grid-row: 2;

  margin: auto;
  padding: 64px 70px;

  border-radius: 30px;

  background-color: var(--color-neutral-000);

  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);

  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-content .section-title {
  margin-bottom: 64px;
  text-align: left;

  padding-right: 35px;
}

.search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: repeat(2, 1fr);

  gap: 23px 80px;
}

.field-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 137px 1fr;
  grid-template-columns: 137px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-item:has([type="text"]) {
  grid-column: 1 / -1;
}

.form-label {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);

  color: var(--color-neutral-900);
}

.date-input {
  border-radius: 4px;

  padding: 14px 40px 14px 20px;

  background-image: url("../images/icons/ui/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
}

.date-input:hover,
.date-input:focus {
  background-color: var(--color-neutral-150);
}

.form-message {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-l);

  margin: 0;
}

.form-message-error {
  color: var(--color-red-500);
}

.counter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 32px 40px;
  grid-template-columns: 40px 32px 40px;

  max-width: 110px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 40px;
  min-height: 48px;

  padding: 0;

  border: none;

  background-color: var(--color-neutral-100);

  cursor: pointer;
}

.counter-button-minus {
  border-radius: 4px 0 0 4px;
}

.counter-button-plus {
  border-radius: 0 4px 4px 0;
}

.counter-button::before {
  content: "";

  width: 14px;
  height: 14px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-brown-500-transparent);
}

.counter-button-minus::before {
  -webkit-mask-image: url("../images/icons/ui/minus.svg");
  mask-image: url("../images/icons/ui/minus.svg");
}

.counter-button-plus::before {
  -webkit-mask-image: url("../images/icons/ui/plus.svg");
  mask-image: url("../images/icons/ui/plus.svg");
}

.counter-button:hover::before,
.counter-button:focus::before {
  background-color: var(--color-neutral-900);
}

.counter-button:active::before {
  background-color: var(--color-brown-500-transparent);
}

.modal-number {
  min-width: 32px;
  min-height: 48px;

  padding: 0 4px;

  text-align: center;
}

.tooltip-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 10px;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
}

.info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0;

  width: 26px;
  height: 26px;

  background-color: var(--color-blue-400);

  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.info-button:hover {
  opacity: 0.9;
}

.info-button::after {
  content: "";
  display: block;

  width: 12px;
  height: 12px;

  -webkit-mask-image: url("../images/icons/ui/tooltip.svg");

  mask-image: url("../images/icons/ui/tooltip.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-neutral-000);
}

.tooltip {
  display: none;
  position: absolute;

  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  width: 256px;

  padding: 15px 18px;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);

  border-radius: 10px;

  background-color: var(--color-neutral-800);
  color: var(--color-neutral-000);

  z-index: 10;
}

.tooltip::before {
  content: "";
  position: absolute;

  top: -8px;
  left: 0;
  right: 0;

  margin: 0 auto;

  background-image: url("../images/icons/ui/tooltip-arrow.svg");

  width: 19px;
  height: 9px;
}

.info-button:hover + .tooltip,
.info-button:focus + .tooltip {
  display: block;
}

.modal-button {
  grid-column: 1 / -1;

  margin-top: 25px;

  border-radius: 10px;

  background-color: var(--color-blue-400);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-blue-300);
}

.modal-button:active {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-000-transparent-03);
}

.modal-close-button {
  position: absolute;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  top: 64px;
  right: 52px;

  width: 52px;
  height: 52px;

  border-radius: 50%;
  border: none;

  background-color: var(--color-neutral-100);

  cursor: pointer;
}

.modal-close-button:hover {
  background-color: var(--color-neutral-150);
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button::before {
  content: "";
  display: block;

  width: 14px;
  height: 14px;

  -webkit-mask-image: url("../images/icons/ui/cross.svg");

  mask-image: url("../images/icons/ui/cross.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-neutral-900);
}

.filter {
  padding: 35px 70px 70px;

  background: url("../images/backgrounds/filter.jpg") no-repeat center / cover, var(--color-linear-gradient);
}

.page-title {
  margin: 0 0 8px;

  font-size: var(--font-size-4xl);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);

  color: var(--color-neutral-000);
}

.breadcrumbs-navigation {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;

  width: 7px;
  height: 10px;

  margin: 0 10px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url("../images/icons/breadcrumbs/arrow-breadcrumbs.svg");
  mask-image: url("../images/icons/breadcrumbs/arrow-breadcrumbs.svg");

  background-color: var(--color-neutral-000);
}

.breadcrumbs-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-l);

  text-align: center;
  text-decoration: none;

  color: var(--color-neutral-000);
}

.breadcrumbs-link:hover {
  color: var(--color-neutral-000-transparent-06);
}

.breadcrumbs-link:active {
  color: var(--color-neutral-000-transparent-03);
}

.link-home {
  min-width: 15px;
  min-height: 15px;
}

.link-home::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url("../images/icons/breadcrumbs/house-breadcrumbs.svg");
  mask-image: url("../images/icons/breadcrumbs/house-breadcrumbs.svg");

  background-color: var(--color-neutral-000);
}

.link-home:hover::before {
  background-color: var(--color-neutral-000-transparent-06);
}

.link-home:active::before {
  background-color: var(--color-neutral-000-transparent-03);
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  gap: 70px;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-group:nth-child(3) {
  margin-left: auto;
}

.filter-group-title {
  padding: 0;
  margin-bottom: 32px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-000);
}

.filter-group-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-group-item {
  margin-bottom: 16px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--color-neutral-000);
}

.filter-group-item:has(.filter-input:disabled) {
  pointer-events: none;
  opacity: 0.3;
}

.filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  gap: 16px;

  cursor: pointer;
}

.filter-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: var(--color-neutral-000);
  border-radius: 4px;

  cursor: pointer;
}

.filter-input[type="radio"] {
  border-radius: 50%;
}

.filter-input::before {
  content: "";

  width: 12px;
  height: 10px;

  opacity: 0;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-blue-600);
}

.filter-input:checked::before {
  opacity: 1;
}

.filter-input[type="checkbox"]::before {
  -webkit-mask-image: url("../images/icons/ui/check.svg");
  mask-image: url("../images/icons/ui/check.svg");
}

.filter-input[type="radio"]::before {
  -webkit-mask-image: url("../images/icons/ui/circle.svg");
  mask-image: url("../images/icons/ui/circle.svg");
}

.filter-label:hover {
  color: var(--color-neutral-000-transparent-06);
}

.filter-label:hover .filter-input {
  background-color: var(--color-neutral-000-transparent-06);
}

.filter-label:active {
  color: var(--color-neutral-000-transparent-03);
}

.filter-label:active .filter-input {
  background-color: var(--color-neutral-000-transparent-03);
}

.range-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 2px;

  margin-bottom: 48px;
}

.range-input-wrapper {
  position: relative;
}

.range-input {
  width: 145px;

  padding: 12px 40px 12px 20px;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input:hover,
.range-input:focus {
  background-color: var(--color-neutral-150);
}

.range-input[name="price-from"] {
  border-radius: 4px 0 0 4px;
}

.range-input[name="price-to"] {
  border-radius: 0 4px 4px 0;
}

.range-label {
  position: absolute;

  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-size: var(--font-size-s);
  line-height: var(--line-height-l);

  text-transform: lowercase;

  color: var(--color-neutral-900);
  opacity: 0.3;

  cursor: pointer;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: var(--color-neutral-000-transparent-03);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-neutral-000);
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: var(--color-neutral-000);

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid var(--color-blue-400);
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;

  margin-top: 56px;
}

.filter-button {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}

.button-submit:hover {
  background-color: var(--color-blue-300);
  color: var(--color-neutral-000-transparent-06);
}

.button-submit:focus {
  background-color: var(--color-blue-300);
}

.button-submit:active {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-000-transparent-03);
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  color: var(--color-neutral-000-transparent-06);
}

.button-reset:active {
  color: var(--color-neutral-000-transparent-03);
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.catalog {
  font-size: var(--font-size-s);

  padding: 50px 70px;
}

.catalog-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px -webkit-min-content 70px auto;
  -ms-grid-columns: 1fr 70px min-content 70px auto;
  grid-template-columns: 1fr -webkit-min-content auto;
  grid-template-columns: 1fr min-content auto;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  gap: 70px;

  margin-bottom: 40px;
}

.catalog-title {
  margin: 0;

  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-neutral-900);
}

.sort-select {
  font-family: inherit;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  color: inherit;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  width: 292px;

  padding: 14px 20px;

  border: 2px solid var(--color-neutral-200);
  border-radius: 4px;

  background-image: url("../images/icons/ui/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px 7px;

  cursor: pointer;
}

.sort-select:hover,
.sort-select:focus {
  border-color: var(--color-blue-300);
}

.sort-select:disabled {
  border-color: var(--color-neutral-900);
  opacity: 0.3;
  pointer-events: none;
}

.view-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  max-width: 225px;

  gap: 8px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.view-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

  min-width: 48px;
  min-height: 48px;

  border: 2px solid var(--color-neutral-200);
  border-radius: 4px;
}

.view-link.current {
  border-color: var(--color-neutral-900);
}

.view-link:hover {
  border-color: var(--color-neutral-900);
}

.view-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;

  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  background-color: var(--color-neutral-900);
}

.view-link-tile::before {
  -webkit-mask-image: url("../images/icons/view/view-tile.svg");
  mask-image: url("../images/icons/view/view-tile.svg");
}

.view-link-card::before {
  -webkit-mask-image: url("../images/icons/view/view-card.svg");
  mask-image: url("../images/icons/view/view-card.svg");
}

.view-link-list::before {
  -webkit-mask-image: url("../images/icons/view/view-list.svg");
  mask-image: url("../images/icons/view/view-list.svg");
}

.card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0 0 40px;

  list-style: none;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 16px 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px 20px;

  padding: 20px;

  -webkit-box-shadow: 0 0 0 1px var(--color-neutral-150);

  box-shadow: 0 0 0 1px var(--color-neutral-150);
  border-radius: 4px;
}

.card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.card-title-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.card .card-title {
  text-align: left;
  text-transform: none;

  margin: 0;
}

.card .card-title:hover {
  color: var(--color-brown-500);
}

.card .card-title:active {
  color: var(--color-brown-500-transparent);
}

.card-description {
  margin: 0;
}

.card-price {
  -ms-grid-column-align: end;
  justify-self: end;

  margin: 0;
}

.card-link {
  background-color: var(--color-brown-500);
}

.card-link:hover {
  background-color: var(--color-brown-600);
  color: var(--color-neutral-000-transparent-06);
}

.card-link:focus {
  background-color: var(--color-brown-600);
}

.card-link:active {
  background-color: var(--color-brown-500);
  color: var(--color-neutral-000-transparent-03);
}

.card-button {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);

  padding: 10px 10px;
}

.button-favorite:hover {
  background-color: var(--color-blue-300);
  color: var(--color-neutral-000-transparent-06);
}

.button-favorite:focus {
  background-color: var(--color-blue-300);
}

.button-favorite:active {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-000-transparent-03);
}

.card-button-added {
  background-color: var(--color-green-500);
}

.card-button-added:hover {
  background-color: var(--color-green-600);
  color: var(--color-neutral-000-transparent-06);
}

.card-button-added:focus {
  background-color: var(--color-green-600);
}

.card-button-added:active {
  background-color: var(--color-green-500);
  color: var(--color-neutral-000-transparent-03);
}

.card-rating {
  margin: 0;

  -webkit-mask-image: url("../images/icons/ui/star.svg");

  mask-image: url("../images/icons/ui/star.svg");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: left center;
  mask-position: left center;
  -webkit-mask-size: 24px 18px;
  mask-size: 24px 18px;

  background-color: var(--color-blue-400);
}

.card-rating-1 {
  width: 24px;
}

.card-rating-2 {
  width: 48px;
}

.card-rating-3 {
  width: 72px;
}

.card-rating-4 {
  width: 96px;
}

.card-rating-5 {
  width: 120px;
}

.card-rating-text {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  text-transform: uppercase;

  text-align: center;

  background-color: var(--color-neutral-100);

  border-radius: 4px;

  margin: 0;
  padding: 10px 10px;
}

.card-image-link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / -1;
}

.card-image {
  display: block;
}

.pagination {
  padding: 40px 0 60px;

  border-top: 1px solid var(--color-neutral-150);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-link,
.pagination-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0 10px;

  min-width: 60px;
  height: 60px;

  border-radius: 4px;
}

.pagination-link {
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  background-color: var(--color-blue-500);
  color: var(--color-neutral-000);
}

.pagination-link:hover {
  background-color: var(--color-blue-300);
  color: var(--color-neutral-000-transparent-06);
}

.pagination-link:focus {
  background-color: var(--color-blue-300);
}

.pagination-link:active {
  background-color: var(--color-blue-300);
  color: var(--color-neutral-000-transparent-03);
}

.pagination-link.current {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

.pagination-dots {
  color: var(--color-neutral-900);
}
