:root {
  /* Color */
  /* color-neutral */
  --color-neutral-000: #ffffff;
  --color-neutral-100: #f2f2f2;
  --color-neutral-150: #e6e6e6;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #4a4a4a;
  --color-neutral-800: #333333;
  --color-neutral-900: #000000;
  /* color-blue */
  --color-blue-100: rgba(131, 179, 211, 0.12);
  --color-blue-200: rgba(131, 179, 211, 0.2);
  --color-blue-500: #82b3d3;
  /* color-brown */
  --color-brown-500: #756157;
  /* color-green */
  --color-green-500: #7db54f;

  /* Font-family*/
  --font-family: "PT Sans", sans-serif;

  /* Font-size */
  --font-size-xxs: 10px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 40px;
  --font-size-4xl: 60px;

  /* Line-height */
  --line-height-xs: 1;
  --line-height-s: 1.2;
  --line-height-m: 1.25;
  --line-height-l: 1.3;
  --line-height-xl: 1.8;

  /* Font-weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);

  margin: 0;

  background-color: var(--color-neutral-100);
  color: var(--color-neutral-800);
}

.button {
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--color-neutral-000);

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;

  background-color: var(--color-neutral-000);

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  width: 1200px;
  min-height: 100vh;

  margin: 0 auto;
}

.header {
  padding: 0 70px;
}

.navigation {
  display: flex;

  align-items: center;
}

.logo-image {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 460px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-link {
  display: block;
  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);

  text-align: center;
  text-decoration: none;

  padding: 20px 16px;

  color: var(--color-neutral-900);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;

  align-items: center;

  max-width: 440px;

  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

.navigation-user-item:nth-child(3) {
  margin-left: 20px;
}

.navigation-user-link {
  display: block;

  min-width: 44px;
  min-height: 64px;
}

.favorite-count {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xs);
}

.navigation-user-button {
  display: block;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;

  padding: 8px 34px;

  background-color: var(--color-brown-500);
}

.main {
  flex-grow: 1;
}

.hero,
.newsletter-index,
.filter {
  background: var(--color-neutral-300) no-repeat center / cover;
}

.hero {
  padding: 50px 0 25px;

  background-image: url("../images/backgrounds/index-background.jpg");
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 70px;
}

.advantages-header,
.services-header,
.search-title,
.newsletter-header {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 20px;

  max-width: 680px;

  color: var(--color-neutral-900);
}

.advantages-description,
.services-description,
.search-text,
.newsletter-text {
  font-size: var(--font-size-l);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  text-align: center;

  margin: 0 auto;

  max-width: 660px;

  color: inherit;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-item {
  background-color: var(--color-blue-100);
}

.advantages-item:nth-child(odd) {
  background-color: var(--color-blue-200);
}

.advantages-item.advantages-media {
  display: flex;
  grid-column: 1 / -1;

  background-color: var(--color-blue-500);
}

.advantages-item.advantages-media-reverse {
  flex-direction: row-reverse;
}

.advantages-container {
  max-width: 400px;
  padding: 102px 85px;
}

.advantages-image {
  display: block;
}

.advantages-card {
  max-width: 400px;
  padding: 112px 85px;
}

.advantages-container .advantages-title,
.advantages-container .advantages-text {
  color: var(--color-neutral-000);
}

.advantages-text,
.services-text {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  text-align: center;

  margin: 0;

  color: inherit;
}

.advantages-title,
.services-title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;

  margin: 0;

  color: var(--color-neutral-900);
}

.advantages-title {
  margin-bottom: 62px;
}

.services {
  padding-top: 64px;
}

.services-title {
  margin-bottom: 30px;
}

.services-description {
  margin-bottom: 64px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;

  list-style: none;
}

.services-item {
  max-width: 400px;
  background-color: var(--color-blue-100);
}

.services-item:nth-child(even) {
  background-color: var(--color-neutral-000);
}

.search {
  padding: 96px 0;
}

.search-text,
.newsletter-text {
  margin-bottom: 54px;
}

.search-button {
  display: block;

  margin: 0 auto;

  background-color: var(--color-brown-500);
}

.search-button,
.newsletter-button {
  padding: 8px 50px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.newsletter {
  padding: 96px 0 104px;
}

.newsletter-index {
  background-image: url("../images/backgrounds/index-background.jpg");
}

.newsletter-index .newsletter-header {
  color: var(--color-neutral-000);
}

.newsletter-index .newsletter-text {
  color: var(--color-neutral-000);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-field {
  width: 452px;

  padding: 14px 20px;

  border-radius: 4px 0 0 4px;
  border: none;

  background-color: var(--color-neutral-100);

  font-family: inherit;
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-900);
}

.newsletter-field::placeholder {
  color: var(--color-neutral-900);
}

.newsletter-button {
  border-radius: 0 4px 4px 0;

  background-color: var(--color-blue-500);
}

.newsletter-catalog .newsletter-header {
  color: var(--color-neutral-900);
}

.newsletter-catalog .newsletter-text {
  color: inherit;
}

.footer {
  display: flex;
  align-items: center;

  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 250px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.social-link {
  display: block;
  min-width: 48px;
  min-height: 40px;
}

.contacts {
  margin: 0 auto;
}

.contact-link {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-xs);
  text-align: center;
  text-decoration: none;

  padding: 0 50px;

  color: var(--color-neutral-900);
}

.developer {
  min-width: 115px;
  min-height: 33px;
  margin-left: auto;
}

.filter {
  padding: 35px 70px 70px;

  background-image: url("../images/backgrounds/filter.jpg");
}

.page-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: var(--font-size-4xl);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-000);
}

.breadcrumbs-navigation {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs-link {
  display: block;

  min-width: 15px;
  min-height: 15px;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-regular);

  text-align: center;
  text-decoration: none;

  color: var(--color-neutral-000);
}

.filter-form {
  display: flex;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-group-checkbox {
  margin-right: 70px;
}

.filter-group-title {
  padding: 0;
  margin-bottom: 32px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-000);
}

.filter-group-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-group-item {
  margin-bottom: 16px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-000);
}

.filter-group-range {
  display: flex;

  align-items: flex-start;

  margin-left: auto;
  gap: 70px;
}

.filter-range-field {
  display: flex;
}

.filter-range-input {
  width: 145px;

  padding: 12px 20px;
  border: none;

  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);

  color: var(--color-neutral-900);
}

.filter-range-input-from {
  border-radius: 4px 0 0 4px;
}

.filter-range-input-to {
  border-radius: 0 4px 4px 0;
}

.filter-range-label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);

  color: var(--color-neutral-900);
}

.filter-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button-apply,
.button-reset {
  padding: 8px 50px;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.button-apply {
  background-color: var(--color-blue-500);
}

.container {
  margin: 0 auto;

  padding: 0 70px;
}

.results-bar {
  display: flex;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 40px;
}

.results-count {
  margin: 0;

  font-size: var(--font-size-2xl);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-neutral-900);
}

.sort-select,
.card-description,
.card-price {
  font-family: inherit;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  color: inherit;
}

.sort-select {
  width: 292px;

  margin-left: 200px;

  border: 2px solid var(--color-neutral-200);
}

.view-switcher {
  display: flex;

  gap: 8px;

  padding: 0;
  margin: 0;
  margin-left: 70px;

  list-style: none;
}

.view-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;

  list-style: none;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 16px 20px;

  min-height: 438px;

  padding: 20px;

  box-shadow: 1px 1px 0 0 var(--color-neutral-150),
    -1px -1px 0 0 var(--color-neutral-150);
  border-radius: 4px;
}

.card-title {
  grid-column: 1 / -1;

  font-size: var(--font-size-xl);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-900);

  margin: 0;
}

.card-description {
  margin: 0;
}

.card-price {
  justify-self: end;
}

.card-link,
.card-button {
  display: block;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  background-color: var(--color-brown-500);

  text-align: center;
  align-self: center;

  padding: 10px 10px;
}

.card-button {
  background-color: var(--color-blue-500);
}

.card-button-added {
  background-color: var(--color-green-500);
}

.card-rating {
  justify-self: start;
}

.card-rating-text {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;

  text-align: center;
  align-self: center;

  color: inherit;
  background-color: var(--color-neutral-100);

  border-radius: 4px;

  margin: 0;
  padding: 10px 10px;
}

.card-image {
  display: block;
  grid-area: 1 / 1 / 2 / -1;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-link,
.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 4px;
}

.pagination-link {
  font-size: var(--font-size-m);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  background-color: var(--color-blue-500);
  color: var(--color-neutral-000);
}

.pagination-link.current {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

.pagination-dots {
  color: var(--color-neutral-900);
}
